.content {
  width: 1200px;
  margin: 0 auto;
}
.banner-area {
	padding-top: 100px;
}
.banner-area .banner{
	display: block;
	margin: 0 auto;
	width: 500px;
}
.banner-area .p-ab{
	width: 150px;
	top: 50%;
	transform: translateY(-50px);
}
.banner-area .p-ab.left{
	left: 195px;
}
.banner-area .p-ab.right{
	right: 190px;
	transform: translateY(-65px);
}



.card {
	cursor: pointer;
  margin-top: 40px;
  margin-right: 40px;
	padding: 12px;
  flex-grow: 1;
  width: 320px;
  height: 250px;
  border-radius: 8px;
	transition: 0.5s;
  background-color: #fff;
}
.card:hover{
	transform: translateY(-10px);
}

.card .title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	bottom: 5px;
	color: #274048;
	font-size: 16px;
}
.card .title span{
	color: #c6c6c6;
	font-size: 12px;
	padding-left: 20px;
}
.card.hightlight{
	background-image: url(../assets/cover/hightlight.png);
	background-size: 100% 210px;
	background-repeat: no-repeat;
}
.card.link{
	background-image: url(../assets/cover/link.png);
	background-size: 100% 210px;
	background-repeat: no-repeat;
}



/* 移动端样式处理 */
@media (max-width: 500px) {
  .content{
		width: 92%;
	}
	.banner-area .banner{
		width: 80%;
	}
	.banner-area .p-ab{
		width: 80px;
		transform: translateY(0);
	}
	.banner-area .p-ab.left{
		left: 0;
		top: 50px;
	}
	.banner-area .p-ab.right{
		right: 0;
	}
	.article-list{
		flex-wrap: wrap;
		margin-top: 40px;
	}
	.card{
		width: 100%;
		margin: 20px auto;
	}
}
