.font-20{ font-size: 20px };
.font-24{ font-size: 24px };
.font-28{ font-size: 28px };
.font-32{ font-size: 32px };
.font-36{ font-size: 36px };
.font-40{ font-size: 40px };

.font-left{ text-align: left; }

.mb-8{ margin-bottom: 8px;}
.mb-12{ margin-bottom: 12px;}
.mb-16{ margin-bottom: 16px;}
.mb-20{ margin-bottom: 20px;}


.font-blue{ color: #646cff;}

.flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}